<section class="section section--other-bg-color">
    <div class="container container--about">
        <p class="article">
            tradition and love
        </p>
        <h1 class="title">
            how it’s made?
        </h1>
        <picture>
            <source
            srcset="
                ./images/about/cow-img-desktop.png 1x,
                ./images/about/cow-img-desktop-2x.png 2x
            "
            media="(min-width: 1200px)">
            <source
            srcset="
                ./images/about/cow-img-tablet.png 1x,
                ./images/about/cow-img-tablet-2x.png 2x
            "
            media="(min-width: 768px)">
            <source
            srcset="
                ./images/about/cow-img-mobile.png 1x,
                ./images/about/cow-img-mobile-2x.png 2x
            "
            media="(min-width: 320px)"
            >
            <img src="./images/about/cow-img-desktop.png" alt="cow">
        </picture>
        <button
            type="button"
            class="button button--about"
        >
            Read more
            <svg
                class="button__icon"
                width='5px'
                height='8px'
            >
                <use href='././images/icons.svg#icon-button-mark'>

                </use>
            </svg>

         </button>
    </div>

</section>