<section class="contacts-section" id="contacts">
    <div class="container">

        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts" id="contact">

            <li class="contacts__item">
                <p class="contacts__title">Cafe</p>
                <p class="contacts__primary-text">Chicago</p>
                <p class="contacts__secondary-text ">Fusce ut velit laoreet, tempus arcu
                    molestie vulputate</p>
                <div class="contacts__work-time">
                    <p class="contacts__work-time__primary-text contacts__work-time__primary-text--before">Monday -
                        Friday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--margin">06:00 AM - 10:00 PM</p>
                    <p class="contacts__work-time__primary-text">Saturday - Sunday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--after">08:00 AM - 16:00 PM</p>
                </div>
                <address class="contacts__address">
                    <ul>
                        <li>
                            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
            <li class="contacts__item">
                <p class="contacts__title contacts__title--bgcolor-gren">FOODTRUCK</p>
                <p class="contacts__primary-text">Los Angeles</p>
                <p class="contacts__secondary-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__work-time">
                    <p class="contacts__work-time__primary-text contacts__work-time__primary-text--before">Monday -
                        Friday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--margin">06:00 AM - 10:00 PM</p>
                    <p class="contacts__work-time__primary-text">Saturday - Sunday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--after">08:00 AM - 16:00 PM</p>
                </div>
                <address class="contacts__address">
                    <ul>
                        <li>
                            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
            <li class="contacts__item">
                <p class="contacts__title">Cafe</p>
                <p class="contacts__primary-text">New York</p>
                <p class="contacts__secondary-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__work-time">
                    <p class="contacts__work-time__primary-text contacts__work-time__primary-text--before">Monday -
                        Friday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--margin">06:00 AM - 10:00 PM</p>
                    <p class="contacts__work-time__primary-text">Saturday - Sunday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--after">08:00 AM - 16:00 PM</p>
                </div>
                <address class="contacts__address">
                    <ul>
                        <li>
                            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
        </ul>
        <ul class="button-contacts">
            <li><button class="button button-contacts__locations button--modification">Our Locations
                    <svg class="button-contacts__svg button-contacts__svg--color-white">
                        <use href="./images/icons.svg#icon-button-mark"></use>
                    </svg>
                </button></li>
            <li><button class="button button-contacts__franchise button--modification">Franchise
                    <svg class="button-contacts__svg button-contacts__svg--color-red">
                        <use href="./images/icons.svg#icon-button-mark"></use>
                    </svg>
                </button></li>

        </ul>
    </div>


</section>