<section>
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts">
            <li class="contacts__item">
                <h3 class="contacts__title">Cafe</h3>
                <p class="contacts__primary-text">Chicago</p>
                <p class="contacts__secondary-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__work-time">
                    <p class="contacts__work-time__primary-text">Monday - Friday</p>
                    <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                    <p class="contacts__work-time__primary-text">Saturday - Sunday</p>
                    <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                </div>
                <address class="contacts__address">
                    <ul>
                        <li>
                            <a href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>

        </ul>
    </div>

</section>