<section class="gallery">
    <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
        <source 
        srcset="
            ./images/gallery/gallery-desktop.jpg 1x,
            ./images/gallery/gallery-desktop-2x.jpg 2x
        "
        media="(min-width: 1280px)">
    <source
        srcset="./images/gallery/gallery-tab.jpg 1x,
        ./images/gallery/gallery-tab-2x.jpg  2x
        "
        media="(min-width: 768px)"
    >
    <source
        srcset="./images/gallery/gallery-mob.jpg  1x,
        ./images/gallery/gallery-mob-2x.jpg 2x
        "
        media="(min-width: 480px)"
    >
    <img class="gallery__img" src="./images/gallery/gallery-desktop-2x.jpg">
</picture>
    
    
</div>
</section>