<header class="header">
    <div class="container header__container">
        <div class="header__box">
            <a href="#" class="header__logo">
                <img src="images/header/logo.png" alt="logo">
            </a>
            <nav class="header__nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="" class="nav__link"><span class="nav__link--red">Home</span></a>
                    </li>
                    <li class="nav__item">
                        <a href="#customer-reviews" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a href="#products" class="nav__link">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contacts" class="nav__link">Contact</a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="header__btn" data-menu-open>
                <svg width="20" height="12" class="btn_icon">
                    <use href="images/icons.svg#icon-burger"></use>
                </svg>
            </button>
            <button type="button" class="header__modal_btn">
                Buy now
                <svg width="5" height="8" class="menu__btn_icon">
                    <use href="images/icons.svg#icon-button-mark"></use>
                </svg>
            </button>
        </div>
        <div class="hero">
            <h1 class="hero__title">ice cream <br> made with <br> <span class="title__styles">passion</span> </h1>
            <ul class="hero__buttons">
                <li class="hero_item">
                    <a href="#products" class="hero__btn">Products</a>
                </li>
                <li class="hero_item">
                    <a href="#about" class="hero__btn_styles">How it's made?</a>
                </li>
            </ul>
            <p class="hero__text">Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit,<br> sed do eiusmod tempor
                <br>incididunt ut
                labore et
            </p>
            <button type="button" class="button__hed">
                <svg width="10" height="12" class="icon_svg">
                    <use href="images/icons.svg#icon-arrow-right2"></use>
                </svg>
            </button>
        </div>

        <div class="mobile__menu is-hidden" data-menu>
            <button type="button" class="menu__btn_close" data-menu-close>
                <svg width="14" height="14" class="menu__svg">
                    <use href="images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <button type="button" class="menu__btn">
                Buy now
                <svg width="5" height="8" class="menu__btn_icon">
                    <use href="images/icons.svg#icon-button-mark"></use>
                </svg>
            </button>
            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="menu__link">Home</a>
                </li>
                <li class="menu__item"><a href="#about" class="menu__link">About us</a> </li>
                <li class="menu__item"><a href="#made" class="menu__link">How it’s made?</a> </li>
                <li class="menu__item"><a href="#products" class="menu__link">Our products</a> </li>
                <li class="menu__item"><a href="#contacts" class="menu__link">Contact</a></li>
            </ul>
        </div>
    </div>
</header>