<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="close-modal" data-modal-close>
            <svg class="close-modal-icon" width="14" height="14">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-title">
            how it’s made?
        </h2>
        <p class="modal-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quae corrupti ut quia temporibus qui asperiores officia reiciendis cumque velit consectetur itaque dolor dolorum debitis repellat nemo porro deserunt soluta molestias, quasi ipsam eligendi? Accusamus fugit commodi error. Quisquam hic velit in consequatur aliquam fugit cupiditate minus voluptatem ea consequuntur perspiciatis quo sed dolores adipisci reiciendis facilis magnam eveniet architecto repellendus repudiandae, vel a accusantium? Enim ducimus, ullam, laborum eius explicabo ratione repellat, fugit delectus fugiat distinctio atque quibusdam provident voluptas dolorum quas. Tempora a, amet soluta earum qui quam sint expedita sunt praesentium, repellat error. Quia laborum excepturi placeat!
        </p>
    </div>
</div>
