.button {
  border: none;
  cursor: pointer;

  background-color: #fff;
  border-radius: 22px;
  padding: 11px 37px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;

  color: $color-text-red;
}
