.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  position: fixed;
  top: 0;
  z-index: 999;
  transition: visibility 500ms, opacity 500ms;
  &.is-hidden .modal {
    transition: transform 500ms;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal {
  width: 80vw;
  min-height: 80vh;
  @media screen and (min-width: 480px) {
    width: 400px;
  }
  @media screen and (min-width: 768px) {
    width: 650px;
  }
  background-color: $color-text-red;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 25px;
  transition: transform 500ms;
  transform: translate(-50%, -50%) scale(1);
}

.close-modal {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 0px;
  position: absolute;
  top: 23px;
  right: 24px;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-text-white;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.modal-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: $color-text-pink;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
