.section--about {
  padding-top: 125px;
  @media screen and (min-width: 768px) and (max-width: 1279.5px) {
    padding-top: 130px;
  }
  padding-bottom: 0;
  background-color: #fff5f6;
  @media screen and (max-width: 767.5px) {
    background-image: url(/images/about/bg-img-mobile-min.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom 41px center;
    @media (min-resolution: 2dppx) {
      background-image: url(/images/about/bg-img-mobile-2x-min.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/about/bg-img-desktop-min.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    @media (min-resolution: 2dppx) {
      background-image: url(/images/about/bg-img-desktop-2x-min.png);
    }
  }
}

.section__title--margin-about {
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
  }
}

.about-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.about-picture {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767.5px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 17px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 74px;
  }
}

.about-image {
  @media screen and (min-width: 768px) {
    max-width: none;
    width: 340px;
    height: 339px;
  }
  @media screen and (min-width: 1280px) {
    width: 516px;
    height: 516px;
  }
}

.description {
  @media screen and (max-width: 767.5px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 50px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 51px;
  }
}

.bold-text {
  margin-bottom: 31px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0.04em;
  color: $color-text-primary;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 1ю79;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1ю75;
  }
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $color-text-primary;
}

.text {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0.04em;
  color: $color-text-secondary;
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.79;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
    line-height: 1.93;
  }
}

.button--about {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    background-color: $color-hoverfocus-gray;
  }
}

.button__icon {
  margin-left: 14px;
  fill: $color-text-red;
}
