.advantages__section {
    background-color: $color-background;
}

.advantages__list {
    @media screen and (max-width: 767.9px) {
        margin-bottom: -30px;
        }
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: -60px;
        }

    @media screen and (min-width: 1280px) {
        margin-left: -30px;
        }
}

.advantages__item {
    @media screen and (max-width: 767.9px) {
        margin-bottom: 30px;
        }

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 3 - 60px);
        margin-left: 60px;
        }

    @media screen and (min-width: 1280px) {
        flex-basis: calc(100% / 3 - 30px);
        margin-left: 30px;
        }
}

.advantages__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
    font-family: Titan One;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-text-red;
    
    @media screen and (min-width: 768px) {
        font-size: 48px;
        }
    @media screen and (min-width: 1280px) {
        font-size: 55px;
        margin-bottom: 15px;
        }

    &--first::before {
        content: '';
        width: 33px;
        height: 50px;
        margin-bottom: 16px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/advantages-images/advantages-icon1-min.png);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/advantages-images/advantages-icon1-2x-min.png);
            }
        @media screen and (min-width: 768px) {
            margin-bottom: 36px;
            }
        @media screen and (min-width: 1280px) {
            margin-bottom: 40px;
            }
    }

    &--second::before {
        content: '';
        width: 50px;
        height: 50px;
        margin-bottom: 16px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/advantages-images/advantages-icon2-min.png);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/advantages-images/advantages-icon2-2x-min.png);
            }
        @media screen and (min-width: 768px) {
            margin-bottom: 36px;
            }
        @media screen and (min-width: 1280px) {
            margin-bottom: 40px;
            }
    }

    &--third::before {
        content: '';
        width: 44px;
        height: 50px;
        margin-bottom: 16px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/advantages-images/advantages-icon3-min.png);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/advantages-images/advantages-icon3-2x-min.png);
            }
        @media screen and (min-width: 768px) {
            margin-bottom: 36px;
            }
        @media screen and (min-width: 1280px) {
            margin-bottom: 40px;
            }
    }
}

.advantages__text {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $color-text-primary;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.71;
        }
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.75;
        }
    
}