
.advantages__title {
    
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: block;
    color: var($color-text-pink);
}

.advantages__text {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: var($color-text-primary)
    
}