.contacts__section {
  background: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
  background: -moz-linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
  background: linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
  
}
.contacts {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin: 0px -10px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin: 0px -15px;
  }
}
.contacts__item:not(:last-child) {
  @media screen and (max-width: 767.8px) {
    margin-bottom: 20px;
  }
}
.contacts__item {
  position: relative;

  width: 220px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;

  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    padding: 50px 31px;
    margin: 0px 10px;
    flex-basis: calc((100% - (6 * 10px)) / 3);
  }
  @media screen and (min-width: 1280px) {
    padding: 55px 43px;
    margin: 0px 15px;
    width: 330px;
    flex-basis: calc((100% - (6 * 15px)) / 3);
  }
}
.contacts__title {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  display: inline-block;
  padding: 0px 25px;
  border-radius: 4px;
  background-color: #f0d1a5;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 28px;
    padding: 0px 16px;
    border-radius: 6px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}
.contacts__title--bgcolor-gren {
  background-color: #c2e297;
}
.contacts__primary-text {
  font-weight: 500;

  line-height: 20px;
  letter-spacing: 0.04em;

  color: $color-text-primary;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    line-height: 24px;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 28px;
  }
}
.contacts__secondary-text {
  font-weight: 500;

  line-height: 16px;
  color: $color-text-secondary;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    line-height: 24px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 28px;
    margin-bottom: 32px;
  }
}
.contacts__work-time {
  padding: 25px 0px;
  position: relative;
  margin-bottom: 25px;
  line-height: 20px;
  @media screen and (min-width: 768px) {
    line-height: 24px;
    padding: 30px 0px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 28px;
    padding: 32px 0px;
  }
}
.contacts__work-time__primary-text {
  font-weight: 500;

  letter-spacing: 0.04em;
  color: $color-text-primary;
}
.contacts__work-time__primary-text--before::before {
  content: '';
  position: absolute;
  top: 0%;
  width: 100%;
  height: 1px;

  background-color: $color-text-secondary;
}
.contacts__work-time__time--margin {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}
.contacts__work-time__time--after::after {
  content: '';
  //   display: inline-block;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 1px;

  background-color: $color-text-secondary;
}

.contacts__work-time__time {
  font-weight: 500;

  color: $color-text-pink;
}
.contacts__link {
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: $color-text-secondary;
  @media screen and (min-width: 768px) {
    line-height: 24px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 28px;
  }
}
