.reviews {
  margin: 0 auto;
  padding-bottom: 40px;
  max-width: 280px;
  @media screen and (min-width: 480px) {
    max-width: 440px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
    max-width: 620px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 90px;
    max-width: 926px;
  }
}
.container__position {
  position: relative;
  background-color: #fafafa;
  margin-top: 29px;
  padding: 43px 50px 14px 50px;
  &::before {
    content: '';
    background-image: url(../images/customer-reviews/quotes.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-position: center;
    position: absolute;
    width: 54px;
    height: 40px;
    top: 28px;
    left: 31px;
    position: absolute;
    fill: #e1e1e1;
    @media screen and (min-width: 480px) {
      top: 30px;
      left: 18px;
    }
    @media screen and (min-width: 768px) {
      top: 30px;
      left: 30px;
    }
    @media screen and (min-width: 1280px) {
      top: 32px;
      left: 45px;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 47px 80px 34px 80px;
    margin-top: 19px;
  }
  @media screen and (min-width: 1280px) {
    padding: 47px 89px 39px 87px;
    margin-top: 15px;
  }
}
.reviews__container {
  display: flex;
  justify-content: center;
  position: relative;
}
.reviews__text {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.59;
  text-align: center;
  display: block;

  background-image: repeating-linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0) 29px,
    #e1e1e1 0,
    #e1e1e1 30px
  );
  letter-spacing: 0.04em;
  color: #000000;
  max-width: 157px;
  overflow: auto;
  max-height: 314px;
  @media screen and (min-width: 480px) {
    max-width: max-content;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 2.22;
  }
}
.reviews__img {
  display: flex;
  justify-content: center;
}
.reviews__details {
  margin-top: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 24px;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
  }
}
.reviews__details--list {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
.reviews__details--title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: #000000;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
.navigation {
  display: flex;
  justify-content: center;
}
.num {
  display: flex;
  justify-content: center;
  min-width: 12px;
  height: 12px;
  background: #d9d9d9;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.75s;
  color: transparent;
  margin-right: 9px;
  margin-left: 9px;
}
.num:hover,
.num:focus {
  background: transparent;
  background-image: url(../images/customer-reviews/house.png);
  transform: scale(1.3);
  border-radius: 0%;
}
.view {
  overflow: hidden;
  width: 280px;
  @media screen and (min-width: 480px) {
    width: 440px;
  }
  @media screen and (min-width: 768px) {
    width: 620px;
  }
  @media screen and (min-width: 1280px) {
    width: 926px;
  }
}
.element {
  width: 280px;
  @media screen and (min-width: 480px) {
    width: 440px;
  }
  @media screen and (min-width: 768px) {
    width: 620px;
  }
  @media screen and (min-width: 1280px) {
    width: 926px;
  }
}
.content {
  width: fit-content;
  display: flex;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.previous,
.next {
  display: none;
}
.reviews__details--item:not(:last-child) {
  margin-right: 18px;
}
.navigation {
  margin-left: -9px;
  margin-right: -9px;
}
.selected {
  transform: scale(1.3);
  background: transparent;
  background-image: url(../images/customer-reviews/house.png);
  width: 12px;
  height: 12px;
  border-radius: 0%;
}
