.footer {
  padding-top: 113px;
  padding-bottom: 25px;
  background: $color-background;
  @media screen and (min-width: 768px) {
    padding-top: 165px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 10px;
  }
}

.footer__container-mob {
  @media screen and (max-width: 767px) {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.footer-box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

// footer-box-title
.footer-box-title {
  margin-bottom: 43px;
}

.footer-box-title__one {
  margin-bottom: 17px;
  width: 232px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $color-text-pink;
  @media screen and (min-width: 768px) {
    width: 340px;
    font-size: 26px;
  }
  @media screen and (min-width: 1280px) {
    width: 472px;
    font-size: 30px;
  }
}

.footer-box-title__two {
  width: 200px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-text-red;
  @media screen and (min-width: 768px) {
    width: 340px;
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    width: 472px;
    font-size: 58px;
  }
}

// footer-box-social
.social {
  margin-bottom: 43px;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.social__item {
  width: 34px;
  height: 34px;
}

.social__item + .social__item {
  margin-left: 30px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fea5bb;
  &:focus,
  &:hover {
    background-color: $color-text-red;
    color: $color-text-white;
  }
}

.social__logo {
  width: 34px;
  height: 34px;
  fill: currentColor;
}

// footer-box-contact
.footer-box-contact {
  margin-bottom: 43px;
}

.footer-contact {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
}

.footer-contact--text {
  color: $color-text-primary;
}

.footer-contact--number {
  color: $color-text-red;
}

.footer-box-last {
  &::before {
    content: '';
    width: 100vw;
    height: 1px;
    background-color: #e1e1e1;
    display: block;
    position: absolute;
    left: 0;
  }
}

.footer-box-last__text {
  margin: 0 auto;
  padding-top: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: $color-text-secondary;
  @media screen and (max-width: 767px) {
    width: 140px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 29px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 9px;
  }
}
